.preview-label {
    transform: translateY(-50px);
    opacity: 0;
}

.input-holder {
    transform: translateY(-50px);
    opacity: 0;
}

.text-input {
    margin-top: 20px;
    width: 100%;
    font-size: 17px;
    font-weight: normal;
    padding: 15px;
    border: none;
    outline: none;
    box-sizing: border-box;
    border-radius: 20px;
}

.input {
    -webkit-appearance: none;
}