.preview-label {
    transform: translateY(-50px);
    opacity: 0;
}

.input-holder {
    transform: translateY(-50px);
    opacity: 0;
    margin-top: 20px;
}

.text-input {
    width: 100%;
    font-size: 17px;
    font-weight: normal;
    padding: 15px 0px;
    border: none;
    outline: none;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
}