.limit-input {
    font-size: 36px;
    width: 100%;
    text-align: center;
    outline: none;
    font-weight: bold;
    border: none;
    transform: translateY(-50px);
    padding: 15px;
    box-sizing: border-box;
    border-radius: 20px;
}